<!doctype html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="css/style.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
	<div class="c3108">
		<b id="i8ozc2">Login</b>
	</div>
	<form id="myForm" action="#" method="POST">
		<div class="row">
			<div class="col m12">
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">account_circle</i><input
							id="icon_prefix" type="text" class="validate" /><label
							for="icon_prefix">First Name</label>
						<div class="input-field col s6">
							<input id="icon_telephone" type="tel" title="password"
								class="validate" /><label for="icon_telephone">Telephone</label>
						</div>
					</div>
					<a href="#" data-activates="dropdown1"
						class="dropdown-button btn orange">Drop Me!</a>
					<ul id="dropdown1" class="dropdown-content">
						<li><a href="#!" class="white-text orange">one</a></li>
						<li><a href="#!" class="white-text orange">two</a></li>
						<li class="divider"></li>
						<li><a href="#!" class="white-text orange">three</a></li>
						<li><a href="#!" class="white-text orange"><i
								class="material-icons">view_module</i>four</a></li>
						<li><a href="#!" class="white-text orange"><i
								class="material-icons">cloud</i>five</a></li>
					</ul>
					<iframe frameborder="0" class="c4115"
						src="https://maps.google.com/maps?&z=1&t=q&output=embed"></iframe>
					<script>
						$('.dropdown-button').dropdown();
					</script>
				</div>
			</div>
		</div>
	</form>
	<!-- this page is generateded by Gramateria -->
</body>
</html>